body {
    display: flex;
    flex-wrap: wrap;
  }



   
  @media only screen and (max-width: 600px) {
    body {
      background-color:rgb(129, 47, 47);
      width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    body {
      background-color: rgb(123, 73, 81);
      width: 50%;
    }
  }
  @media only screen and (min-width: 1000px) {
    body {
      background-color: thistle;
      width: 25%;
    }
  }